In [37]:
import time
import numpy as np
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go

In [13]:
df = pd.read_json('earth_quake.json')
df

            time     gname    lat     lon  dep  str
0     1575548684  棉兰老岛附近海域   5.35  126.80   50  5.6
1     1575511395      千岛群岛  45.28  150.20   30  5.5
2     1575504148  河北唐山市丰南区  39.31  118.04   10  4.5
3     1575445974   甘肃陇南市文县  33.12  104.86   12  3.1
4     1575415508      千岛群岛  43.32  147.94   10  5.6
...          ...       ...    ...     ...  ...  ...
3134   960136105    苏门答腊南部   4.70  102.20   33  7.8
3135   958663137      台湾台中  24.30  121.00   15  5.3
3136   958533946      台湾南投  24.00  121.10   15  6.1
3137   957414071     印度尼西亚   1.50  124.30   33  7.4
3138   954241221      硫黄列岛  22.30  143.50   96  7.4

[3139 rows x 6 columns]

In [17]:
px.set_mapbox_access_token('pk.eyJ1IjoibGlzdGVuemNjIiwiYSI6ImNrMzU5MmpxZDAxMXEzbXQ0dnd4YTZ2NDAifQ.GohcgYXFsbDqfsi_7SXdpA')

In [56]:
t = time.time()
fig = px.scatter_mapbox(df,
                        lat="lat", lon="lon",
                        text='gname',
                        color=-(df['time'].values-t),
                        size=np.power(1.2, df['str'].values),  # np.exp(df['str'].values),
                        # color_continuous_scale=px.colors.cyclical.IceFire,
                        size_max=10,
                        zoom=1,
                        width=1200,
                        height=800,)

print(fig.to_html(), file=open('a.html', 'w'))